.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "main";
}

/* Element Styles -----------------------------*/
* {
  box-sizing: border-box;
}

h1 {
  font-weight: lighter;
  font-size: 2rem;
  margin: 2rem;
  color: #fff;
}

h2 {
  font-size: 1.3rem;
  margin: 1.3rem;
  text-transform: capitalize;
}

h3 {
  font-size: 0.9rem;
  margin: 0.9rem;
  text-transform: uppercase;
}

h2,
h3 {
  font-weight: 100;
  color: gray;
}

h4 {
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0.5rem;
  text-transform: capitalize;
  color: gray;
}

p,
img {
  margin: 0 1rem;
  border-radius: 50%;
}

div {
  padding: 5px 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #c9c9c9;
}

p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25rem;
}

header {
  grid-area: header;
  background-color: #7477bf;
  color: #fff;
  padding: 0 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

sup {
  font-size: 0.5rem;
}

.bell {
  fill: white;
  width: 36px;
  margin: 5px 0;
  transition: width 0.3s, height 0.3s;
  align-items: center;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #2ecc71;
  padding: 0;
  margin: 0 0 12px 0;
}

.user {
  display: flex;
  justify-content: center;
}

.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #4d4c72;
  margin-left: 20px;
}

.user-name {
  margin: 0;
}

/* Navigation Styles --*/
nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

.social {
  grid-area: social;
}

.new-members {
  grid-area: new-members;
  display: flex;
  flex-direction: column;
}

.recent-activity {
  grid-area: recent-activity;
  display: flex;
  flex-direction: column;
}

.message {
  grid-area: message;
  display: flex;
  flex-direction: column;
}

.settings {
  grid-area: settings;
  display: flex;
  flex-direction: column;
}

/* 2-column section*/
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "navigation main";
  }
}
.main {
  display: grid;
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 50%;
  }
}
@media (min-width: 768px) {
  .traffic, .social {
    grid-column: 1/span 2;
  }
}
/* bar chart */
@media (min-width: 768px) {
  .daily, .member, .message {
    grid-column: 1/span 1;
  }
}
/* donut chart */
@media (min-width: 768px) {
  .mobile, .activity, .settings {
    grid-column: 2/span 1;
  }
}
.widget-container-full, .widget-container-half {
  width: 95vw;
}

@media (min-width: 768px) {
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
}