.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main";
}
/* Element Styles -----------------------------*/

* {
    box-sizing: border-box;
  }
  
  h1 {
    font-weight: lighter;
    font-size: 2rem;
    margin: 2rem;
    color: #fff;
  }
  
  h2 {
    font-size: 1.3rem;
    margin: 1.3rem;
    text-transform: capitalize;
  }
  
  h3 {
    font-size: .9rem;
    margin: .9rem;
    text-transform: uppercase;
  }
  
  h2,
  h3 {
    font-weight: 100;
    color: gray;
  }
  
  h4 {
    font-size: .9rem;
    font-weight: normal;
    margin: .5rem;
    text-transform: capitalize;
    color: gray;
  }
  
 ß
  
  div {
    padding: 5px 0;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    color: #c9c9c9;
  }
  
  p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25rem;
  }


header {
    grid-area: header;
    background-color: #7477bf;
    color: #fff;
    padding: 18px 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
sup {
  font-size: .5rem;
}

.bell {
    fill: white;
    stroke-width: 5px;
    width: 30px;
    height: 30px;
    margin: 36px 0;
    transition: width .3s, height .3s;
    align-items: center;
  }

  .dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #2ecc71;
    padding: 0;
    margin: 24px 0 12px 0;
  }
  
  .user {
    display: flex;
    justify-content: center;
  }
.avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #fff;
  margin-left: 20px;
}

  .avatar {
		img {
			margin: 0 10px 0 15px;
			border-radius: 50%;
			max-width: 76px;
		}
	}
  .name {
    margin: 30px 10px 0 10px;
  }
  /* Navigation Styles --*/

 // Navigation
nav {
	ul {
		padding: 40px 20px;
    margin:0;
		margin-top: 11px;
		list-style-type: none;
		display: flex;
    flex-direction: row;
		justify-content: space-around;
		align-content: center;
		li {
      width: 40px;
			padding: 10px;
			&.active, &:hover {
				cursor: pointer;
				border-bottom: 5px solid #85db80;
    		padding-bottom: 3.5%;
			}
		}
	}
}

@media (min-width: 768px) {
	nav {
		ul {
			li {
				&.active, &:hover {
	    		padding-bottom: 1.5%;
				}
			}
		}
	}
}
@media (min-width: 1024px) {

	nav {
		padding-top: 15px;
		ul {
			margin: 0;
			margin-top: 0;
			flex-direction: column;
			li {
				margin-bottom: 50px;
				padding: 10px;
				border-left: 5px solid $purple;
				&.active {
					padding-bottom: 10px;
					border-bottom:none;
					border-left: 5px solid #85db80;
				}
				&:hover {
					padding-bottom: 10px;
					border-bottom:none;
					border-left: 5px solid $green;
					//background-color: #343354;
				}


			}
		}

	}

}

  

/*dashboard-alert*/
.alert-banner{
  background-color: #7477bf;
  margin: 10px;
  border-radius: 6px;
  padding: 8px;
}

main {
grid-area: main; 
}

.social {
    grid-area: social;

}


.new-members{
    grid-area: new-members;
    display: flex;
    flex-direction: column;
    
}
.recent-activity{
    grid-area: recent-activity;
    display: flex;
    flex-direction: column;
}
.message {
    grid-area: message;
    display: flex;
    flex-direction: column;
}
.settings {
    grid-area: settings;
    display: flex;
    flex-direction: column;
}


/* 2-column section*/
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "navigation main";
    }
}
.main{
    display: grid;
}
@media (min-width: 768px) {
    .main {
        grid-template-columns: 50%
    }
}

@media (min-width: 768px) {
    .traffic, .social {
        grid-column: 1 /span 2;
    }
}
/* bar chart */
@media (min-width: 768px) {
    .daily, .member, .message {
        grid-column: 1 / span 1;
    }
}
/* donut chart */
@media (min-width: 768px) {
    .mobile, .activity, .settings {
        grid-column: 2 /span 1;
    }
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}
@media (min-width: 768px) {
.widget-container-full {
    width: 90vw;
}
.widget-container-half {
    width: 45vw;
}
}